:root {
    --primary-color: #C3CEDA;
    --secondary-color: #738FA7;
    --tertiary-color: #0C4160;
    --quaternary-color: #071330;
    --text-color: white;
}

/* GLOBAL */
*,
*::before,
*::after {
    box-sizing: border-box; /* padding + border stay inside width/height */
    margin: 0;
    padding: 0;
}

a {
    font-size: 40px;
    font-weight: lighter;
    color: var(--text-color);
}

/* HEADER */

.header {
    background-color: var(--secondary-color);
    padding: 20px;
    width: 100%;
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    z-index: 1;
}

.logo {
    font-size: 30px;
    font-weight: bold;
    color: var(--text-color);
    display: flex;
    align-items: center;
}

.functions {
    display: flex;
    justify-content: right;
    align-items: center;
}

.functions img{
    height: 40px;
    width: 40px;
    padding: 5px;
    background-color: var(--text-color);
    border-radius: 100%;
    margin: 0 0 0 20px;
}

/* BODY */
body {
    background-color: var(--primary-color);
    font-family: "Merriweather", serif;
    margin: 0;
    padding: 0;
    height: 100vh;
}

.intro_info {
    text-align: center;
    font-size: 20px;
    padding: 20px;
    color: var(--quaternary-color);
}

.book_shelf {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 20px;
    padding: 20px;
    padding-top: 0;
}

.book_card {
    background: var(--tertiary-color);
    width: 300px;
    height: 400px;
    border-radius: 25px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 10px solid var(--text-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}



